# Data handling
pandas==2.2.2
numpy==1.26.4

# Machine learning models
scikit-learn==1.4.2
xgboost==2.0.3
lightgbm==4.3.0
catboost==1.2.5

# Visualization & EDA
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0

# Jupyter notebook
jupyterlab==4.1.6
ipykernel==6.29.4

# API
fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.9
pydantic==2.7.1

# Model saving
joblib==1.4.0

# Imbalanced data handling
imbalanced-learn==0.12.2

# Progress bars
tqdm==4.66.4
